@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Orbitron:wght@400;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body.light-theme {
  --bg-color: #f8f9fa;
  --text-color: #212529;
  --secondary-text-color: #6c757d;
  --primary-color: #6610f2;
  --primary-hover-color: #520dc2;
  --accent-color: #e83e8c;
  --accent-hover-color: #b32e78;
  --success-color: #198754;
  --danger-color: #dc3545;
  --card-bg: #ffffff;
  --neon-glow: 0 0 10px rgba(102, 16, 242, 0.5);
}

body.dark-theme {
  --bg-color: #121416;
  --text-color: #f8f9fa;
  --secondary-text-color: #adb5bd;
  --primary-color: #a08cf5;
  --primary-hover-color: #a28ff7;
  --accent-color: #f68db5;
  --accent-hover-color: #f783ac;
  --success-color: #71d875;
  --danger-color: #e55353;
  --card-bg: #1e2022;
  --neon-glow: 0 0 15px rgba(160, 140, 245, 0.7);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Orbitron', sans-serif;
  transition: all 0.3s ease;
  line-height: 1.6;
}

body.dark-theme .form-control option {
  background-color: #292b2d;
}

h1, h2, h3 {
  font-family: 'Press Start 2P', cursive;
  letter-spacing: 1px;
}